/* 字体设置 */

.battambang-thin {
    font-family: "Battambang", system-ui;
    font-weight: 100;
    font-style: normal;
}

.battambang-light {
    font-family: "Battambang", system-ui;
    font-weight: 300;
    font-style: normal;
}

.battambang-regular {
    font-family: "Battambang", system-ui;
    font-weight: 400;
    font-style: normal;
}

.battambang-bold {
    font-family: "Battambang", system-ui;
    font-weight: 700;
    font-style: normal;
}

.battambang-black {
    font-family: "Battambang", system-ui;
    font-weight: 900;
    font-style: normal;
}

/* 网页居中 */

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_guide:hover,
.life_guide:hover,
.life_guide:hover,
.life_guide:hover {
    color: #9dd4c1 !important;
}

/* 字体描边调整 */
.Exploration,
.Evolution,
.KilimLian {
    -webkit-text-stroke: 1px #FFFFFF;
}

.Social {
    -webkit-text-stroke: 1px #9dd4c1;
}

/* 滚动播放动画 */

.side_content {
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.cube_black {
    animation: fadeOpacity_black 3s infinite;
}

@keyframes fadeOpacity_black {
    0% {
        opacity: 0.5;
    }

    16.65% {
        opacity: 1;
    }

    33.3% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.5;
    }
}

.cube_white {
    animation: fadeOpacity_white 3s infinite;
}

@keyframes fadeOpacity_white {
    0% {
        opacity: 0.5;
    }

    33.3% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }


    66.6% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.5;
    }
}

.cube_green {
    animation: fadeOpacity_green 3s infinite;
}

@keyframes fadeOpacity_green {
    0% {
        opacity: 0.5;
    }

    66.6% {
        opacity: 0.5;
    }

    83.25% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}