/* fonts */

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-sans-<uniquifier> {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.song-myung-regular {
    font-family: "Song Myung", serif;
    font-weight: 400;
    font-style: normal;
}

/* media queries */

.Page1,
.LoadingPage {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

@media (max-width: 1024px) {

    .Page1,
    .LoadingPage {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {

    .Page1,
    .LoadingPage {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {

    .Page1,
    .LoadingPage {
        width: 100%;
        margin: 0 auto;
        padding: 5px;
    }
}

@media (orientation: landscape) {

    .Page1,
    .LoadingPage {
        width: 80%;
    }
}

@media (orientation: portrait) {

    .Page1,
    .LoadingPage {
        width: 100%;
    }
}





/* web alignment: center */

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9dd4c1;
}

.menu_guide:hover {
    color: #9dd4c1 !important;
}

.life_guide:hover {
    color: white !important;
}

/* text-decoration */
.Exploration,
.Evolution,
.KilimLian {
    -webkit-text-stroke: 2px white;
}

.Social {
    -webkit-text-stroke: 2px white;
}

/* scroll animation */

.side_content {
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.BgShadow {
    animation: fadeOpacity_bgshadow 5s infinite;
}

@keyframes fadeOpacity_bgshadow {
    0% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.8;
    }
}

/* loading page password */
.button {
    width: 100px;
    height: 100px;
    font-size: 24px;
    font-weight: 500;
    margin: 20px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #ffffff7c;
    border: 2px solid white;
    border-radius: 50px;
    position: absolute;
}

.button:nth-child(1) {
    left: 20px;
    top: 20px;
}

.button:nth-child(2) {
    left: 140px;
    top: 20px;
}

.button:nth-child(3) {
    right: 20px;
    top: 20px;
}

.button:nth-child(4) {
    left: 20px;
    top: 140px;
}

.button:nth-child(5) {
    right: 20px;
    top: 140px;
}

.button:nth-child(6) {
    left: 20px;
    top: 260px;
}

.button:nth-child(7) {
    left: 140px;
    top: 260px;
}

.button:nth-child(8) {
    right: 20px;
    top: 260px;
}

.button.selected {
    background-color: #9dd4c1;
}